<h3>Cadastrar Aluno</h3>

<form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nome</label>
          <input type="text" 
          class="form-control" 
          id="Nome" 
          [(ngModel)]="cliente.nome"
          aria-describedby="nomeHelp" 
          placeholder="Insira nome do aluno"
          
          >
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Data de Nascimento</label>
                <input type="date"
                 class="form-control" 
                 id="Data"
                 [(ngModel)]="cliente.data"
                 
                 >
        </div>
   
        
        
        <button class="btn btn-primary" (click)="salvar()" >Salvar</button>
 </form>