<h2>Cadastrar Aluno</h2>
<table class="table">
    
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Data Nascimento</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="codigo" id="Codigo" [(ngModel)]="aluno.codigo"></td>
            <td><input type="text" name="Nome" id="Nome" [(ngModel)]="aluno.nome"></td>
            <td><input type="date" name="Data" id="Data" [(ngModel)]="aluno.dt_nasc"></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success" (click)="salvar_aluno()">
    Add
</button>
<br>
<div *ngIf="resposta.errno === 1062" class="alert alert-danger" role="alert">
        Aluno já cadastrada
</div>
<div *ngIf="resposta.status === 500" class="alert alert-danger" role="alert">
        Cadastro Incompleto 
</div>
<div *ngIf="resposta.protocol41 === true" class="alert alert-success" role="alert">
        Aluno Cadastrado
</div>



<hr>
<h2>Cadastrar Disciplina</h2>
<table class="table">
    
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>creditos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="Dcodigo" id="DCodigo" [(ngModel)]="disciplina.codigo"></td>
            <td><input type="text" name="DNome" id="DNome" [(ngModel)]="disciplina.nome"></td>
            <td><input type="text" name="Creditos" id="Creditos" [(ngModel)]="disciplina.creditos"></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success" (click)="salvar_disciplina()">
    Add
</button>
<br>
<div *ngIf="resposta2.errno === 1062" class="alert alert-danger" role="alert">
        Disciplina já cadastrada
</div>
<div *ngIf="resposta2.status === 500" class="alert alert-danger" role="alert">
        Cadastro Incompleto 
</div>
<div *ngIf="resposta2.protocol41 === true" class="alert alert-success" role="alert">
        Disciplina Cadastrada
</div>