<div class="container border">

  <form #orderForm="ngForm">

    <div>
      <h1 align="center">
        {{title}}
      </h1>
    </div>

    <div>
      <h4 align="center">Cliente: {{ordemDadosCliente.nome}}</h4>
      <h5 align="center">Carinho de Compra</h5>
      <table border="1" align="center">

        <tr>

          <th>Quantidade</th>
          <th>Nome</th>
          <th>Valor</th>


        </tr>
        <tr *ngFor="let itens of listaCompra">
          <td> {{itens.quantidade}} </td>
          <td> {{itens.descricao}} </td>
          <td> {{itens.valor_unitario}} </td>


        </tr>
      </table>
    </div>
    <br>



    <div *ngIf="totalNotaSemDesconto > 0 ">
      <h4>Nota Fiscal da compra do Cliente: {{ordemDadosCliente.nome}} </h4>

      <h5>Produtos Comprados</h5>

      <table border="1">
        <tr>
          <th>Nome Produto</th>
          <th>Quantidade</th>
          <th>Valor Unitario</th>
        </tr>
        <tr *ngFor="let index of listaCompra">
          <td>{{index.descricao}}</td>
          <td>{{index.quantidade}}</td>
          <td>{{index.valor_unitario}}</td>

        </tr>
      </table>

      <br>
      <label>Total da Nota sem descontro:</label>
      <input type="number" class="form-control" disabled value="{{totalNotaSemDesconto}}">

      <label>Total do desconto 10%:</label>
      <input type="number" class="form-control" disabled value="{{totaldoDesconto}}">

      <label>Total da Nota </label>
      <input type="number" class="form-control" disabled value="{{totaldaNota}}">
    </div>



    <br> <br>
    <h4>Cadastro Cliente</h4>
    <div class="form-group">
      <label> Nome: </label>
      <input type="text" class="form-control" [(ngModel)]="ordemDadosCliente.nome" name="name">
    </div>



    <div class="form-group">
      <label> E-mail: </label>
      <input type="email" class="form-control" [(ngModel)]="ordemDadosCliente.email" name="email">
    </div>

    <div class="form-group">
      <label> Telefone: </label>
      <input type="tel" class="form-control" [(ngModel)]="ordemDadosCliente.telefone" name="phone">
    </div>

    <h4>Produtos </h4>
    <div class="form-group">
      <label> O que você gostaria de compra ? </label>
      <select class="custom-select" [(ngModel)]="ordemProduto.nome" name="nomeProduto">
        <option value=""> Selecionar</option>
        <option value="{{b.nome}}" *ngFor="let b of estoqueProduto"> {{b.nome}} </option>
      </select>

    </div>



    <div class="form-group">
      <label> Quantidade: </label>
      <input type="tel" class="form-control" [(ngModel)]="ordemProduto.quantidade" name="quantidade">
    </div>




    <button class="btn btn-primary" (click)="addItem()"> Inclui item </button>
    <br><br>
    <button class="btn btn-primary" (click)="confirma()"> Fecha nota </button>


  </form>



</div>