<h2>Aluno</h2>
<table class="table">
    <thead>
        <tr>
            <th>Matricula</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="codigo" id="codigo" [(ngModel)]="aluno.codigo"></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-danger" (click)="deleta_aluno()">
    Excluir
</button>
<br>
<div *ngIf="resposta.errno === 1451" class="alert alert-danger" role="alert">
    Desmatricular aluno das disciplinas
</div>
<div *ngIf="resposta.errno === 1054" class="alert alert-danger" role="alert">
    Informe a matricula do aluno
</div>

<div *ngIf="resposta.protocol41 === true" class="alert alert-success" role="alert">
    Cadastro do aluno removido
</div>


<hr>
<h2>Disciplina</h2>
<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="Dcodigo" id="Dcodigo" [(ngModel)]="disciplina.codigo"></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-danger" (click)="deleta_disciplina()">
    Excluir
</button>


<div *ngIf="resposta2.errno === 1451" class="alert alert-danger" role="alert">
    Retirar alunos matriculados
</div>
<div *ngIf="resposta2.errno === 1054" class="alert alert-danger" role="alert">
    Informe o codigo da Disciplina
</div>

<div *ngIf="resposta2.protocol41 === true" class="alert alert-success" role="alert">
    Disciplina removida com sucesso
</div>