<div class="container">
    <h2>{{ title }}</h2>
    <hr />
    <div>
        <h4>Comanda

        </h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                    <th>Valor unitário</th>
                    <!--<th>Desconto</th> -->
                    <th>Peso</th>
                    <th>Valor total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let i of pedidos'>
                    <td>{{i.quantidade}} </td>
                    <td> {{i.descricao }}</td>
                    <td> {{i.valor_unitario}} </td>
                    <td> {{i.peso}} </td>
                    <td> {{i.valor_total | currency: 'BRL'}} </td>

                </tr>
            </tbody>
        </table>


    </div>
    <hr />
    <hr />
    <h4 align="center"> Nota Fiscal </h4><br>
    <h5>Nome do cliente: {{nomeCliente}}</h5>


    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Descrição</th>
                <th>Preço Unitario</th>
                <th>Valor</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let i of notaFiscal'>
                <td>{{i.quantidade}} </td>
                <td> {{i.descricao }}</td>
                <td> {{i.valor_unitario}} </td>

                <td> {{i.valor_total  | currency: 'BRL' }} </td>
        </tbody>
    </table>
    
    <h5>Valor da nota: {{valorNota  | currency: 'BRL'}} </h5>
    <h5>Valor do desconto: {{desconto |currency: 'BRL'}}</h5>
    <h5>Total da nota: {{valorFinal |currency: 'BRL'}}</h5>

    <hr />


    <form #orderForm="ngForm">
        <div class="form-group">
            <label>Nome: </label>
            <input type="text" class="form-control" name="nome" [(ngModel)]="dadosFront.nomeCliente" >
        </div>

        <div class="form-group">
            <label>Tipo refeiçao: </label>
            <select class="custom-select" name="escolheProduto" [(ngModel)]="dadosFront.tipo">
                <option value=""> Selecionar</option>
                <option value="{{b}}" *ngFor='let b of comidas'> {{b}} </option>
            </select>
        </div>

        <div class="form-group">
            <label>Peso: </label>
            <input type="text" class="form-control" name="peso" [(ngModel)]="dadosFront.peso">
        </div>

        <div class="form-group">
            <label>Bebida: </label>
            <select class="custom-select" name="escolheBebida" [(ngModel)]="dadosFront.bebida">
                <option value=""> Selecionar</option>
                <option value="{{b}}" *ngFor='let b of bebidas'> {{b}} </option>
            </select>
        </div>

        <div class="form-group">
            <label>Quantidade: </label>
            <input type="tel" class="form-control" name="quantProduto" [(ngModel)]="dadosFront.quantidade">
        </div>

        <hr />
        <label >Escolha o seu convenio: </label>
        <!-- Material unchecked disabled -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input"  name="convenio1" [(ngModel)]="dadosFront.convenio1" *ngIf="dadosFront.convenio2 == '', disabled" >
            <label class="form-check-label" >Unifei</label>
            
        </div>

        <!-- Material checked disabled -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="convenio2"  value="Outros" [(ngModel)]="dadosFront.convenio2"  *ngIf="dadosFront.convenio1 == '', disabled" >
            <label class="form-check-label" >Outros</label>
        </div>

        <hr />

        <button class="btn btn-primary" (click)="addItem()">Incluir Item</button>

        <br>
        <br>

        <button class="btn btn-primary" (click)="confirmOrder()">fechar Comanda</button>


    </form>

    {{ orderItems }}
</div>